DISCORD_TOKEN=MTU1MTE1Nzg2OTg1NTEyMTQ3OA.GjS8NY.vz_yGTtHD6Ia-cmr7wHoh7tXU06LwNny4f6XGQ
# Необязательно: ID вашего сервера, чтобы команда /verif появилась сразу (глобально до часа)
GUILD_ID=1551160623449243710

# Ключ FACEIT Data API (Server side key): https://developers.faceit.com
FACEIT_API_KEY=562c2f17-1060-4e02-b483-4cb2515d4fe6

# Ссылка для кнопки "Перейти к верификации"
VERIFY_URL=https://www.faceitverif.ru/
